networks:
  concerto: {}
  meet-jitsi: {}

services:
  concerto_server:
    image: etav/concerto_server:${CONCERTO_VERSION}
    restart: always
    volumes:
      - ${CONCERTO_VOLUME_PATH:?}/storage:/srv/concerto/storage
      - ${CONCERTO_VOLUME_PATH:?}/recordings:/srv/concerto/recordings
    networks:
      concerto:
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:80

      CONCERTO_BASE_URL: ${CONCERTO_BASE_URL}
      CONCERTO_BASE_PATH: ${CONCERTO_BASE_PATH}

      DB_STRING:

      OIDC_AUDIENCE: account
      OIDC_ADMIN_REST_API_BASE: http://keycloak:8080${KEYCLOAK_BASE_PATH}/admin/realms/concerto
      OIDC_AUTHORITY: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto
      OIDC_METADATA_ADDRESS: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto/.well-known/openid-configuration
      OIDC_REQUIRE_HTTPS_METADATA: "false"
      
      OIDC_CLIENT_AUTHORITY: ${KEYCLOAK_BASE_URL:?}/realms/concerto/
      IDENTITY_ACCOUNT_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/realms/concerto/account/
      IDENTITY_ADMIN_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/admin/concerto/console/#/concerto/users
      
      SERVER_CLIENT_ID: concerto-server
      SERVER_CLIENT_SECRET:
      
      JITSI_JWT_SECRET: ${JITSI_JWT_SECRET:?}
      JITSI_JWT_APP_ID: jitsi
      JITSI_MEET_URL: ${JITSI_BASE_URL:?}
      JITSI_APP_DOWNLOAD_URL: https://jitsi.org/downloads/
      JITSI_RECORDER_PASSWORD: ${JIBRI_RECORDER_PASSWORD:?}

  proxy:
    image: etav/concerto_proxy:${CONCERTO_VERSION}
    restart: always
    volumes:
    - ${CONCERTO_VOLUME_PATH:?}/acme:/etc/nginx/acme
    - ${CONCERTO_VOLUME_PATH:?}/ssl:/etc/nginx/ssl
    ports:
      - 80:80
      - 443:443
    environment:
      BASE_PATH: ${CONCERTO_BASE_PATH}
      CONCERTO_DOMAIN: ${CONCERTO_DOMAIN:?}
      JITSI_DOMAIN: ${JITSI_DOMAIN:?}
      KEYCLOAK_DOMAIN: ${KEYCLOAK_DOMAIN:?}
      SSL_CERTIFICATE_FILENAME:
      SSL_CERTIFICATE_KEY_FILENAME:
    networks:
      concerto:
      meet-jitsi:

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.0
    restart: always
    volumes:
      - ${CONCERTO_VOLUME_PATH}/keycloak:/var/lib/keycloak/data
    environment:
      KC_DB_USERNAME:
      KC_DB_PASSWORD:
      KC_DB:
      KC_DB_URL:
      
      KEYCLOAK_ADMIN:
      KEYCLOAK_ADMIN_PASSWORD:
      
      KC_PROXY: edge
      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: ${KEYCLOAK_BASE_PATH}/
      
      KC_HOSTNAME_PATH: ${KEYCLOAK_BASE_PATH}/
      KC_HOSTNAME_URL: ${KEYCLOAK_BASE_URL:?}/
      KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_BASE_URL:?}/
      KC_HOSTNAME_STRICT_HTTPS: "false"
    command:
    - start 
    networks:
      concerto:

  postgres:
    image: postgres:15.0
    restart: always
    volumes:
      - ${CONCERTO_VOLUME_PATH}/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB:
      POSTGRES_PASSWORD:
      POSTGRES_USER:
    networks:
      concerto:
