@page "/manual"
@using Concerto.Client.Services;
@using Concerto.Shared.Extensions;
@using Microsoft.AspNetCore.Components.Authorization

@inject IBreadcrumbsService BreadcrumbsService

<PageTitle>User manual</PageTitle>

<div class="pa-4" style="height: 100%; width:100%">
	 <object data="manual.pdf" type="application/pdf" style="height: 100%; width:100%">
		<MudButton Style="height: 100%; width:100%;" Color="Color.Default" Variant="Variant.Filled" DisableElevation="true" Href="manual.pdf" Target="_blank">
			<div style="position: absolute; top: 50%;">
				Your browser doesn't support PDF preview.<br />
				Click here to open manual.
			</div>
		</MudButton>
     </object>
</div>

@code {
	[CascadingParameter]
	public LayoutState LayoutState { get; set; } = LayoutState.Default;

	protected override void OnInitialized()
	{
		BreadcrumbsService.Set(
			Icons.Material.Filled.Help,
			"Manual",
			new BreadcrumbItem("Manual", null, true)
			);
	}
}