networks:
    concerto: {}

services:
    concerto_server:
        image: concerto_server:${CONCERTO_VERSION}
        restart: always
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - ${CONCERTO_VOLUME_PATH:?}/storage:/srv/concerto/storage
            - ${CONCERTO_VOLUME_PATH:?}/recordings:/srv/concerto/recordings
        networks:
            concerto:
        environment:
            ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
            ASPNETCORE_URLS: http://+:80

            CONCERTO_BASE_URL: ${CONCERTO_BASE_URL}
            CONCERTO_BASE_PATH: ${CONCERTO_BASE_PATH}
            CONCERTO_API_URL: ${CONCERTO_API_URL}

            DB_STRING: ${DB_STRING}
            ConnectionStrings__DefaultConnection: ${DB_STRING}

            MEETINGS__BASE_URL: ${CONCERTO_BASE_URL}
            MEETINGS__SIGNAL_R_HUB_URL: ${CONCERTO_BASE_URL}/hubs/meeting

            OIDC_AUDIENCE: account
            OIDC_ADMIN_REST_API_BASE: http://keycloak:8080${KEYCLOAK_BASE_PATH}/admin/realms/concerto
            OIDC_AUTHORITY: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto
            OIDC_METADATA_ADDRESS: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto/.well-known/openid-configuration
            OIDC_REQUIRE_HTTPS_METADATA: "false"

            OIDC_CLIENT_AUTHORITY: ${KEYCLOAK_BASE_URL:?}/realms/concerto/
            IDENTITY_ACCOUNT_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/realms/concerto/account/
            IDENTITY_ADMIN_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/admin/concerto/console/#/concerto/users

            SERVER_CLIENT_ID: ${SERVER_CLIENT_ID}
            SERVER_CLIENT_SECRET: ${SERVER_CLIENT_SECRET}

    proxy:
        image: concerto_nginx:${CONCERTO_NGINX_VERSION}
        restart: always
        volumes:
            - ${CONCERTO_VOLUME_PATH:?}/acme:/etc/nginx/acme
            - ${CONCERTO_VOLUME_PATH:?}/ssl:/etc/nginx/ssl
        ports:
            - 80:80
            - 443:443
        environment:
            BASE_PATH: ${CONCERTO_BASE_PATH}
            CONCERTO_DOMAIN: ${CONCERTO_DOMAIN:?}
            KEYCLOAK_DOMAIN: ${KEYCLOAK_DOMAIN:?}
            SSL_CERTIFICATE_FILENAME:
            SSL_CERTIFICATE_KEY_FILENAME:
        networks:
            concerto:

    keycloak:
        image: quay.io/keycloak/keycloak:21.1.0
        restart: unless-stopped
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - ${CONCERTO_VOLUME_PATH}/keycloak:/var/lib/keycloak/data
        environment:
            KC_DB_USERNAME: ${KC_DB_USERNAME}
            KC_DB_PASSWORD: ${KC_DB_PASSWORD}
            KC_DB: ${KC_DB}
            KC_DB_URL: ${KC_DB_URL}
            KC_DB_INIT: "true"

            KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
            KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

            KC_PROXY: edge
            KC_HTTP_ENABLED: "true"
            KC_HTTP_RELATIVE_PATH: ${KEYCLOAK_BASE_PATH}/

            KC_HOSTNAME_PATH: ${KEYCLOAK_BASE_PATH}/
            KC_HOSTNAME_URL: ${KEYCLOAK_BASE_URL:?}/
            KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_BASE_URL:?}/
            KC_HOSTNAME_STRICT_HTTPS: "false"
        command:
            - start
        networks:
            concerto:

    postgres:
        image: postgres:15.0
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U admin -d ConcertoDb"]
            interval: 5s
            timeout: 5s
            retries: 10
            start_period: 30s
        volumes:
            - ${CONCERTO_VOLUME_PATH}/postgres:/var/lib/postgresql/data
            - ./init-postgres/init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh
            - ./init-postgres/dumps:/dumps
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            CONCERTO_DOMAIN: ${CONCERTO_DOMAIN}
            CONCERTO_ADMIN_PASSWORD: ${CONCERTO_ADMIN_PASSWORD}
        networks:
            concerto:

    pgadmin:
        image: dpage/pgadmin4
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
        ports:
            - 7100:80
        volumes:
            - ${CONCERTO_VOLUME_PATH}/pgadmin:/var/lib/pgadmin
        networks:
            - concerto
