version: '3.4'

networks:
  concerto: {}
  meet-jitsi: {}

services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.0
    volumes:
      - ${CONCERTO_VOLUME_PATH}/keycloak:/var/lib/keycloak/data
    environment:
      KC_DB_USERNAME: ${KC_DB_USERNAME}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}
      KC_DB: ${KC_DB}
      KC_DB_URL: ${KC_DB_URL}
      
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      
      KC_PROXY: edge
      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: ${KEYCLOAK_BASE_PATH}/
    command:
      - start-dev
    networks:
      concerto:
    ports:
      - 8080:8080
    restart: unless-stopped
    depends_on:
      - postgres


  postgres:
    image: postgres:15.0
    volumes:
      - ${CONCERTO_VOLUME_PATH}/postgres:/var/lib/postgresql/data
      - ./init-postgres/init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh
      - ./init-postgres/dumps:/dumps
    environment:
      POSTGRES_PASSWORD:
      POSTGRES_USER:
    networks:
      concerto:
    ports:
      - 5432:5432


  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 7100:80
    volumes:
      - ${CONCERTO_VOLUME_PATH}/pgadmin:/var/lib/pgadmin
    networks:
     - concerto
