networks:
    concerto:
        ipam:
            config:
                - subnet: 172.18.0.0/16

version: "3.8"

services:
    concerto_server:
        image: misphe/concerto_server:preprod-1.0
        restart: always
        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - "5000:80"
        volumes:
            - ${CONCERTO_VOLUME_PATH:?}/storage:/srv/concerto/storage
            - ${CONCERTO_VOLUME_PATH:?}/recordings:/srv/concerto/recordings
        networks:
            concerto:
        environment:
            ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
            ASPNETCORE_URLS: http://+:80

            CONCERTO_BASE_URL: ${CONCERTO_BASE_URL}
            CONCERTO_BASE_PATH: ${CONCERTO_BASE_PATH}
            CONCERTO_API_URL: ${CONCERTO_API_URL}
            Web__BasePath: /concerto

            DB_STRING: ${DB_STRING}
            ConnectionStrings__DefaultConnection: ${DB_STRING}

            MEETINGS__BASE_URL: ${CONCERTO_BASE_URL}
            MEETINGS__SIGNAL_R_HUB_URL: ${CONCERTO_BASE_URL}/hubs/meeting

            OIDC_AUDIENCE: account
            OIDC_ADMIN_REST_API_BASE: http://keycloak:8080${KEYCLOAK_BASE_PATH}/admin/realms/concerto
            OIDC_AUTHORITY: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto
            OIDC_METADATA_ADDRESS: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto/.well-known/openid-configuration
            OIDC_REQUIRE_HTTPS_METADATA: "false"

            OIDC_CLIENT_AUTHORITY: ${KEYCLOAK_BASE_URL:?}/realms/concerto/
            IDENTITY_ACCOUNT_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/realms/concerto/account/
            IDENTITY_ADMIN_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/admin/concerto/console/#/concerto/users

            SERVER_CLIENT_ID: ${SERVER_CLIENT_ID}
            SERVER_CLIENT_SECRET: ${SERVER_CLIENT_SECRET}

            TURN_DOMAIN: ${TURN_DOMAIN}
            TURN_USERNAME: ${TURN_USERNAME}
            TURN_PASSWORD: ${TURN_PASSWORD}
            TURN_STUN_PORT: ${TURN_STUN_PORT}
            TURN_TLS_PORT: ${TURN_TLS_PORT}

    keycloak:
        image: quay.io/keycloak/keycloak:20.0.0
        restart: unless-stopped
        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - "8080:8080"
        volumes:
            - ${CONCERTO_VOLUME_PATH}/keycloak:/var/lib/keycloak/data
            - ./keycloak-init/themes/concerto:/opt/keycloak/themes/concerto:ro
        environment:
            KC_DB_USERNAME: ${KC_DB_USERNAME}
            KC_DB_PASSWORD: ${KC_DB_PASSWORD}
            KC_DB: ${KC_DB}
            KC_DB_URL: ${KC_DB_URL}
            KC_DB_INIT: "true"

            KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
            KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

            KC_PROXY: edge
            KC_HTTP_ENABLED: "true"
            KC_HTTP_RELATIVE_PATH: ${KEYCLOAK_BASE_PATH}/

            KC_HOSTNAME_PATH: ${KEYCLOAK_BASE_PATH}/
            KC_HOSTNAME_URL: ${KEYCLOAK_BASE_URL:?}/
            KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_BASE_URL:?}/
            KC_HOSTNAME_STRICT_HTTPS: "false"
        command:
            - start
        networks:
            concerto:

    postgres:
        image: postgres:15.0
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U admin -d ConcertoDb"]
            interval: 5s
            timeout: 5s
            retries: 10
            start_period: 30s
        volumes:
            - ${CONCERTO_VOLUME_PATH}/postgres:/var/lib/postgresql/data
            - ./init-postgres/init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh
            - ./init-postgres/dumps:/dumps
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            CONCERTO_DOMAIN: ${CONCERTO_DOMAIN}
            CONCERTO_ADMIN_PASSWORD: ${CONCERTO_ADMIN_PASSWORD}
        networks:
            concerto:

    coturn:
        image: coturn/coturn:4.6
        restart: unless-stopped
        networks:
            concerto:
        environment:
            SERVER_IP: ${SERVER_IP}
            RELAY_IP: ${RELAY_IP}
        command:
            - -c
            - |
                exec turnserver \
                --log-file=stdout \
                --realm=${TURN_DOMAIN} \
                --server-name=${TURN_DOMAIN} \
                --listening-port=${TURN_STUN_PORT} \
                --tls-listening-port=${TURN_TLS_PORT} \
                --min-port=${TURN_UDP_MIN_PORT} \
                --max-port=${TURN_UDP_MAX_PORT} \
                --fingerprint \
                --lt-cred-mech \
                --user=${TURN_USERNAME}:${TURN_PASSWORD} \
                --cert=/etc/turn/ssl/${SSL_CERTIFICATE_FILENAME} \
                --pkey=/etc/turn/ssl/${SSL_CERTIFICATE_KEY_FILENAME} \
                --no-cli \
                --listening-ip=0.0.0.0 \
                --relay-ip=$${RELAY_IP} \
                --external-ip=$${SERVER_IP}
        volumes:
            - ${CONCERTO_VOLUME_PATH:?}/ssl:/etc/turn/ssl:ro
        ports:
            - "${TURN_STUN_PORT}:${TURN_STUN_PORT}/tcp"
            - "${TURN_STUN_PORT}:${TURN_STUN_PORT}/udp"
            - "${TURN_TLS_PORT}:${TURN_TLS_PORT}/tcp"
            - "${TURN_TLS_PORT}:${TURN_TLS_PORT}/udp"
            - "${TURN_UDP_MIN_PORT}-${TURN_UDP_MAX_PORT}:${TURN_UDP_MIN_PORT}-${TURN_UDP_MAX_PORT}/udp"
# on server
# services:
#   nginx-proxy:
#     image: nginx:latest
#     restart: always
#     network_mode: "host"
#     volumes:
#       - ../DockerCompose/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
#       - ${CONCERTO_VOLUME_PATH:?}/ssl/cert.crt:/etc/nginx/ssl/cert.cert:ro
#       - ${CONCERTO_VOLUME_PATH:?}/ssl/cert.key:/etc/nginx/ssl/cert.key:ro
#     environment:
#       TZ: Europe/Warsaw
