networks:
    concerto:
        driver: overlay
        attachable: true
        driver_opts:
            com.docker.network.driver.mtu: "1200"

version: "3.8"

services:
    concerto_server:
        image: misphe/concerto_server:preprod-1.0
        restart: always
        ports:
            - "5000:80"
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 3
        volumes:
            - ${CONCERTO_VOLUME_PATH:?}/storage:/srv/concerto/storage
            - ${CONCERTO_VOLUME_PATH:?}/recordings:/srv/concerto/recordings
        networks:
            concerto:
        environment:
            ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
            ASPNETCORE_URLS: http://+:80

            CONCERTO_BASE_URL: ${CONCERTO_BASE_URL}
            CONCERTO_BASE_PATH: ${CONCERTO_BASE_PATH}
            CONCERTO_API_URL: ${CONCERTO_API_URL}
            Web__BasePath: /concerto

            DB_STRING: ${DB_STRING}
            ConnectionStrings__DefaultConnection: ${DB_STRING}

            MEETINGS__BASE_URL: ${CONCERTO_BASE_URL}
            MEETINGS__SIGNAL_R_HUB_URL: ${CONCERTO_BASE_URL}/hubs/meeting

            OIDC_AUDIENCE: account
            OIDC_ADMIN_REST_API_BASE: http://keycloak:8080${KEYCLOAK_BASE_PATH}/admin/realms/concerto
            OIDC_AUTHORITY: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto
            OIDC_METADATA_ADDRESS: http://keycloak:8080${KEYCLOAK_BASE_PATH}/realms/concerto/.well-known/openid-configuration
            OIDC_REQUIRE_HTTPS_METADATA: "false"

            OIDC_CLIENT_AUTHORITY: ${KEYCLOAK_BASE_URL:?}/realms/concerto/
            IDENTITY_ACCOUNT_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/realms/concerto/account/
            IDENTITY_ADMIN_CONSOLE_URL: ${KEYCLOAK_BASE_URL:?}/admin/concerto/console/#/concerto/users

            SERVER_CLIENT_ID: ${SERVER_CLIENT_ID}
            SERVER_CLIENT_SECRET: ${SERVER_CLIENT_SECRET}

            TURN_DOMAIN: ${TURN_DOMAIN}
            TURN_USERNAME: ${TURN_USERNAME}
            TURN_PASSWORD: ${TURN_PASSWORD}
            TURN_STUN_PORT: ${TURN_STUN_PORT}
            TURN_TLS_PORT: ${TURN_TLS_PORT}

    keycloak:
        image: quay.io/keycloak/keycloak:20.0.0
        restart: unless-stopped
        ports:
            - "8080:8080"
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 3
        volumes:
            - ${CONCERTO_VOLUME_PATH}/keycloak:/var/lib/keycloak/data
            - ./keycloak-init/themes/concerto:/opt/keycloak/themes/concerto:ro
        environment:
            KC_DB_USERNAME: ${KC_DB_USERNAME}
            KC_DB_PASSWORD: ${KC_DB_PASSWORD}
            KC_DB: ${KC_DB}
            KC_DB_URL: ${KC_DB_URL}
            KC_DB_INIT: "true"

            KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
            KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

            KC_PROXY: edge
            KC_HTTP_ENABLED: "true"
            KC_HTTP_RELATIVE_PATH: ${KEYCLOAK_BASE_PATH}/

            KC_HOSTNAME_PATH: ${KEYCLOAK_BASE_PATH}/
            KC_HOSTNAME_URL: ${KEYCLOAK_BASE_URL:?}/
            KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_BASE_URL:?}/
            KC_HOSTNAME_STRICT_HTTPS: "false"
        command:
            - start
        networks:
            concerto:

    postgres:
        image: postgres:15.0
        restart: always
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 3
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U admin -d ConcertoDb"]
            interval: 5s
            timeout: 5s
            retries: 10
            start_period: 30s
        volumes:
            - ${CONCERTO_VOLUME_PATH}/postgres:/var/lib/postgresql/data
            - ./init-postgres/init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh
            - ./init-postgres/dumps:/dumps
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            CONCERTO_DOMAIN: ${CONCERTO_DOMAIN}
            CONCERTO_ADMIN_PASSWORD: ${CONCERTO_ADMIN_PASSWORD}
        networks:
            concerto:

    coturn:
        image: coturn/coturn:4.6
        # ports:
        #     - "${TURN_STUN_PORT}:${TURN_STUN_PORT}"
        #     - "${TURN_STUN_PORT}:${TURN_STUN_PORT}/udp"
        #     - "${TURN_TLS_PORT}:${TURN_TLS_PORT}"
        #     - "${TURN_TLS_PORT}:${TURN_TLS_PORT}/udp"
        #     - "${TURN_UDP_MIN_PORT}-${TURN_UDP_MAX_PORT}:${TURN_UDP_MIN_PORT}-${TURN_UDP_MAX_PORT}/udp"
        ports:
            - target: 3478
              published: 3478
              protocol: udp
              mode: host
            # STUN/TURN TCP
            - target: 3478
              published: 3478
              protocol: tcp
              mode: host
            # TLS
            - target: 5349
              published: 5349
              protocol: udp
              mode: host
            - target: 5349
              published: 5349
              protocol: tcp
              mode: host

            - target: 10000
              published: 10000
              protocol: udp
              mode: host
            - target: 10001
              published: 10001
              protocol: udp
              mode: host
            - target: 10002
              published: 10002
              protocol: udp
              mode: host
            - target: 10003
              published: 10003
              protocol: udp
              mode: host
            - target: 10004
              published: 10004
              protocol: udp
              mode: host
            - target: 10005
              published: 10005
              protocol: udp
              mode: host
            - target: 10006
              published: 10006
              protocol: udp
              mode: host
            - target: 10007
              published: 10007
              protocol: udp
              mode: host
            - target: 10008
              published: 10008
              protocol: udp
              mode: host
            - target: 10009
              published: 10009
              protocol: udp
              mode: host
            - target: 10010
              published: 10010
              protocol: udp
              mode: host
            - target: 10011
              published: 10011
              protocol: udp
              mode: host
            - target: 10012
              published: 10012
              protocol: udp
              mode: host
            - target: 10013
              published: 10013
              protocol: udp
              mode: host
            - target: 10014
              published: 10014
              protocol: udp
              mode: host
            - target: 10015
              published: 10015
              protocol: udp
              mode: host
            - target: 10016
              published: 10016
              protocol: udp
              mode: host
            - target: 10017
              published: 10017
              protocol: udp
              mode: host
            - target: 10018
              published: 10018
              protocol: udp
              mode: host
            - target: 10019
              published: 10019
              protocol: udp
              mode: host
            - target: 10020
              published: 10020
              protocol: udp
              mode: host
        networks:
            - concerto
        deploy:
            mode: global
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 3
        environment:
            SERVER_IP: ${SERVER_IP}
            RELAY_IP: ${RELAY_IP}
        command:
            - --log-file=stdout
            - --realm=${TURN_DOMAIN}
            - --server-name=${TURN_DOMAIN}
            - --listening-port=${TURN_STUN_PORT}
            - --tls-listening-port=${TURN_TLS_PORT}
            - --min-port=${TURN_UDP_MIN_PORT}
            - --max-port=${TURN_UDP_MAX_PORT}
            - --fingerprint
            - --lt-cred-mech
            - --user=${TURN_USERNAME}:${TURN_PASSWORD}
            - --cert=/etc/turn/ssl/${SSL_CERTIFICATE_FILENAME}
            - --pkey=/etc/turn/ssl/${SSL_CERTIFICATE_KEY_FILENAME}
            - --no-cli
            - --allow-loopback-peers
            - --max-bps=0
            - --stale-nonce=600
            - --verbose
            - --channel-lifetime=1800
            - --permission-lifetime=1800
            - --listening-ip=0.0.0.0
            - --relay-ip=0.0.0.0
            - --external-ip=${SERVER_IP}
        volumes:
            - ${CONCERTO_VOLUME_PATH:?}/ssl:/etc/turn/ssl:ro
# on server
# services:
#   nginx-proxy:
#     image: nginx:latest
#     restart: always
#     network_mode: "host"
#     volumes:
#       - ../DockerCompose/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
#       - ${CONCERTO_VOLUME_PATH:?}/ssl/cert.crt:/etc/nginx/ssl/cert.cert:ro
#       - ${CONCERTO_VOLUME_PATH:?}/ssl/cert.key:/etc/nginx/ssl/cert.key:ro
#     environment:
#       TZ: Europe/Warsaw
