vh100 { height: 100vh; }

border-box { box-sizing: border-box; }

border-box *, border-box *:before, border-box *:after { box-sizing: inherit; }

.panel-height-maximum {
    flex: 1 1 100%;
    display: grid;
    overflow: auto;
}

.mud-treeview-item {
    width: 100%;
    cursor: pointer;
}

.tree-mudstack {
    width: 100%;
}

.mud-select-input {
    color: var(--mud-palette-appbar-text) !important;
}

.mud-select-input .mud-icon-root {
    color: var(--mud-palette-appbar-text) !important;
}