@page "/"
@using Concerto.Client.Services;

@inject IBreadcrumbsService BreadcrumbsService

<PageTitle>Index</PageTitle>

<div class="pa-4">
	<MudText Typo="Typo.h3" GutterBottom="true">Home</MudText>
	<MudText Class="mb-8">Welcome to Concerto</MudText>
</div>

@code {

	[CascadingParameter]
	public bool DarkMode { get; set; }

	protected override void OnInitialized()
	{
		BreadcrumbsService.Set(
			Icons.Material.Filled.List,
			"Courses",
			new BreadcrumbItem("Home", null, true)
			);
	}
}