@page "/"
@using Concerto.Client.Services;
@using Concerto.Shared.Extensions;
@using Microsoft.AspNetCore.Components.Authorization

@inject IBreadcrumbsService BreadcrumbsService

<PageTitle>Index</PageTitle>

<div class="pa-4">
	<MudText Typo="Typo.h3" GutterBottom="true">Home</MudText>
	<MudText Class="mb-8">Welcome to Concerto</MudText>

	<AuthorizeView Policy="@AuthorizationPolicies.IsNotVerified.Name">
		<MudAlert Severity="Severity.Warning">An administrator must verify your account before accessing Concerto. Please come back later or contact your administrator.</MudAlert>
	</AuthorizeView>

</div>

@code {

	[CascadingParameter]
	public bool DarkMode { get; set; }

	protected override void OnInitialized()
	{
		BreadcrumbsService.Set(
			Icons.Material.Filled.List,
			"Courses",
			new BreadcrumbItem("Home", null, true)
			);
	}
}