@inject ISnackbar Snackbar
@inject ITranslationsService t

<MudDialog>
		<DialogContent>
			<div style="display: grid; grid-template-rows: 1fr; height: calc(100vh - 134px)">
				<Forum WorkspaceId="WorkspaceId" OnlyRelatedToFile="File" OnNoPosts="OnNoPosts" Title="@($"{@t.T("postsRelatedToFileDialog", "postsRelatedTo")} {File.FullName}")" />
			</div>
		</DialogContent>

		<DialogActions>
			<MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Close">@t.T("postsRelatedToFileDialog", "close")</MudButton>
		</DialogActions>
</MudDialog>

@code {

	[CascadingParameter]
	protected MudDialogInstance Dialog { get; set; } = null!;

	[Parameter]
	public long WorkspaceId { get; set; }

	[Parameter]
	public FileItem File { get; set; } = null!;

	private void OnNoPosts()
	{
		Snackbar.Add($"{@t.T("postsRelatedToFileDialog", "noPostsRelatedTo")} {File.FullName}", Severity.Info);
		Dialog.Close();
	}

	private void Close()
	{
		Dialog.Close();
	}
}