## Version
CONCERTO_VERSION=4.1
JITSI_VERSION=stable-9646

## Volume configuration ##
# Base directory for docker mounts
CONCERTO_VOLUME_PATH=CHANGE_ME
mkdir -p ${CONCERTO_VOLUME_PATH}/storage
mkdir -p ${CONCERTO_VOLUME_PATH}/recordings
mkdir -p ${CONCERTO_VOLUME_PATH}/postgres
mkdir -p ${CONCERTO_VOLUME_PATH}/keycloak
mkdir -p ${CONCERTO_VOLUME_PATH}/acme
mkdir -p ${CONCERTO_VOLUME_PATH}/ssl

## Domain configuration ##
CONCERTO_DOMAIN=CHANGE_ME
CONCERTO_BASE_URL=https://${CONCERTO_DOMAIN}
CONCERTO_BASE_PATH=""

JITSI_DOMAIN=CHANGE_ME
JITSI_BASE_URL=https://${JITSI_DOMAIN}
JITSI_PUBLIC_IP=CHANGE_ME
JITSI_UDP_PORT=CHANGE_ME

KEYCLOAK_DOMAIN=CHANGE_ME
KEYCLOAK_BASE_URL=https://${KEYCLOAK_DOMAIN}
KEYCLOAK_BASE_PATH=""

# Internal reverse proxy
# Certificate can be generated using ACME
# Certificate should include ${CONCERTO_DOMAIN} ${JITSI_DOMAIN} and ${KEYCLOAK_DOMAIN}
# Each domain has mapped /.well-known path to ${CONCERTO_VOLUME_PATH}/acme (mounted to nginx container)
# Certificate and key should be placed in ${CONCERTO_VOLUME_PATH}/ssl
# Filenames relative to ${CONCERTO_VOLUME_PATH}/ssl
SSL_CERTIFICATE_FILENAME=CHANGE_ME
SSL_CERTIFICATE_KEY_FILENAME=CHANGE_ME

## Fix for JVB traffic in docker swarm (docker network inspect ingress)
SWARM_INGRESS_SUBNET=10.0.0.0

# Security
KEYCLOAK_ADMIN=CHANGE_ME
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME

KC_DB_USERNAME=postgres
KC_DB_PASSWORD=CHANGE_ME
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak

POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=keycloak

DB_STRING="Host=postgres;Port=5432;Database=ConcertoDb;Username=postgres;Password=CHANGE_ME"
SERVER_CLIENT_SECRET=CHANGE_ME

# Jitsi auth
JITSI_JWT_SECRET=CHANGE_ME
JICOFO_AUTH_PASSWORD=CHANGE_ME
JVB_AUTH_PASSWORD=CHANGE_ME
JIGASI_XMPP_PASSWORD=CHANGE_ME
JIBRI_RECORDER_PASSWORD=CHANGE_ME
JIBRI_XMPP_PASSWORD=CHANGE_ME
