.vs
obj
bin
.git
*.crt
*.pem
*.key
*.csr
.idea
.vscode
compose
keycloak
Client/NPM/node_modules
Client/wwwroot/js/node

ChromeDebugUserData
EdgeDebugUserData

DockerCompose/data

dev-docker/data

Data/volume/storage

src/Server/Properties/launchSettings.json
